Suite: {{ lxctemplate_dab.suite }}
CacheDir: ../cache
Architecture: {{ lxctemplate_dab.architecture }}
Name: {{ lxctemplate_dab.name }}
Version: {{ lxctemplate_dab.version }}
Section: system
Maintainer: {{ lxctemplate_dab.maintainer }}
Infopage: {{ lxctemplate_dab.infopage }}
Description: {{ lxctemplate_dab.description_short }}
 {{ lxctemplate_dab.description_extended }}
